body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}


.item{
    width: 300pt;
    height: 200pt;
    background-color: red;
}